body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;

}


.header {
  padding: 30px;
  text-align: center;
  background: orange;
  color: black;

  box-shadow: 0px 10px 20px #dbd9d3;

}

.intro_message{
  text-align: center;

}

.header p{
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.my_pic img{
  padding-top: 70px;
  height: 300px;

}

.about_me{


  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;

  background:white;
  border-radius: 60px;
background: linear-gradient(225deg, #e6e6e6, #ffffff);
box-shadow:  -20px 20px 27px #bdbdbd,
             20px -20px 27px #ffffff;


}

.about_me h2{
  padding-left: 30px;
  padding-top: 10px;
  text-align: center;
}

.about_me p{
  padding-left: 30px;
  padding-top: 5px;
  padding-bottom: 30px;
  padding-right: 30px;
  font-size: 20px;
  text-align: center;

}

.social_media{

  border-radius: 50%;
  width:200px;
  height: 200px;
  background: linear-gradient(225deg, #e6e6e6, #ffffff);
  box-shadow:  -20px 20px 27px #bdbdbd,
               20px -20px 27px #ffffff;
}
.social_media img{

  border-radius: 50%;
  height: 150px;
  width: 150px;
  text-align: center;

}

hr {
  background-color: white;
	height: 2.5px;
  color: white !important;
  width: 200px;
}
